Repository vietan0/todo-server: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run prettier, npm run pretpkg

.lintstagedrc:

{
  "*.{ts,tsx}": "npm run lint",
  "*": "npm run prettier",
  "package.json": "npm run pretpkg"
}

feat: build `CREATE` and `GET` handlers for `/project`
  src/apiRouter.ts
  src/handlers/project.ts
Due: npm run lint, npm run prettier

feat: build `deleteProject` and `updateProject` handlers, write custom schemas
  package-lock.json
  package.json
  src/apiRouter.ts
  src/authRouter.test.ts
  src/handlers/project.ts
  src/handlers/signIn.ts
  src/handlers/signUp.ts
  src/middlewares/validateAuth.ts
  src/middlewares/validateCreateProject.ts
  src/middlewares/validateUpdateProject.ts
  src/types/payloadSchemas.ts
  src/types/payloads.ts
  src/types/schemas.ts
Due: npm run lint, npm run prettier, npm run pretpkg

fix: allow CRUD only if project belongs to `userId`
  src/handlers/project.ts
Due: npm run lint, npm run prettier

refactor: use `never` instead of `ParamsDictionary` for irrelevant parameters
  src/handlers/errHandler.ts
  src/handlers/project.ts
  src/handlers/signIn.ts
  src/handlers/signUp.ts
  src/middlewares/auth.ts
  src/middlewares/validateAuth.ts
  src/middlewares/validateCreateProject.ts
Due: npm run lint, npm run prettier

feat: build `createTask` and validation
  src/apiRouter.ts
  src/handlers/task.ts
  src/middlewares/validateCreateTask.ts
  src/server.ts
  src/types/schemas.ts
Due: npm run lint, npm run prettier

fix: write `GET task` handlers, change route params, fix spelling
  src/apiRouter.ts
  src/handlers/project.ts
  src/handlers/task.ts
  src/middlewares/auth.ts
  src/middlewares/validateUpdateProject.ts
  src/server.ts
  src/types/schemas.ts
Due: npm run lint, npm run prettier

fix: `createTask` now can create sub-tasks, add ownership verification
  src/handlers/task.ts
  src/types/schemas.ts
Due: npm run lint, npm run prettier

feat: handle `updateTask`
  src/apiRouter.ts
  src/handlers/task.ts
  src/middlewares/validateCreateTask.ts
  src/middlewares/validateUpdateTask.ts
  src/types/helpers.ts
  src/types/schemas.ts
Due: npm run lint, npm run prettier

feat: handle `deleteTask`, add cascade to database
  package.json
  prisma/migrations/20240501095752_add_cascade/migration.sql
  prisma/schema.prisma
  src/apiRouter.ts
  src/handlers/task.ts
Due: npm run lint, npm run prettier, npm run pretpkg

fix: disallow deep-nesting tasks
  src/handlers/task.ts
Due: npm run lint, npm run prettier

test: set up seeding
  globalSetup.ts
  package.json
  postman.sh
  pretpkg.json
  prisma/dump.sql
  src/server.ts
  vitest.config.ts
Due: npm run lint, npm run prettier, npm run pretpkg

test: write create projects tests
  globalSetup.ts
  package-lock.json
  package.json
  src/apiRouter.test.ts
  src/authRouter.test.ts
Due: npm run lint, npm run prettier, npm run pretpkg

test: write read, update projects tests
  src/apiRouter.test.ts
  src/handlers/project.ts
Due: npm run lint, npm run prettier

test: use `toStrictEqual` instead of `toEqual`
  src/apiRouter.test.ts
Due: npm run lint, npm run prettier

test: use separate target for project suite and task suite, make globalSetup rerun in watch mode
  globalSetup.ts
  src/apiRouter.test.ts
  src/test/helpers.ts
  vitest.config.ts
Due: npm run lint, npm run prettier

test: write task CRUD tests, move test files next to their handlers
  prisma/dump.sql
  src/apiRouter.test.ts
  src/handlers/project.test.ts
  src/handlers/signIn.test.ts
  src/handlers/signUp.test.ts
  src/handlers/task.test.ts
  src/handlers/task.ts
  src/test/authHelpers.ts
  src/test/projectTaskHelpers.ts
  vitest.config.ts
Due: npm run lint, npm run prettier

test: test coverage and ui, move setup file, update packages
  package-lock.json
  package.json
  src/handlers/project.test.ts
  src/handlers/task.test.ts
  src/test/globalSetup.ts
  vitest.config.ts
Due: npm run lint, npm run prettier, npm run pretpkg

chore: install prisma erd generator
  package-lock.json
  package.json
  prisma/erd.svg
  prisma/schema.prisma
Due: npm run prettier, npm run pretpkg

ci: add `build` script
  package.json
Due: npm run prettier, npm run pretpkg

build: change port for production
  src/index.ts
Due: npm run lint, npm run prettier

fix: add cors
  package-lock.json
  package.json
  src/server.ts
Due: npm run lint, npm run prettier, npm run pretpkg

feat: send JWT through cookie instead of Authorization header
  package-lock.json
  package.json
  src/authRouter.ts
  src/handlers/project.test.ts
  src/handlers/signIn.test.ts
  src/handlers/signIn.ts
  src/handlers/signOut.ts
  src/handlers/signUp.test.ts
  src/handlers/signUp.ts
  src/handlers/task.test.ts
  src/middlewares/auth.ts
  src/server.ts
Due: npm run lint, npm run prettier, npm run pretpkg

feat: add route `GET /api/user`, add `user` to auth responses
  src/apiRouter.ts
  src/handlers/getUser.ts
  src/handlers/signIn.test.ts
  src/handlers/signIn.ts
  src/handlers/signUp.test.ts
  src/handlers/signUp.ts
Due: npm run lint, npm run prettier

fix: include subTasks in CRUD `/project`, fix zod empty-string-allowed rule
  src/handlers/project.ts
  src/types/schemas.ts
Due: npm run lint, npm run prettier

feat: remove `tasks` in `getProjects` (plural)
  src/handlers/project.test.ts
  src/handlers/project.ts
Due: npm run lint, npm run prettier

fix: disallow empty string in schema fields
  src/types/schemas.ts
Due: npm run lint, npm run prettier

feat: add basic ranking features
  package-lock.json
  package.json
  prisma/dump.sql
  prisma/erd.svg
  prisma/migrations/20240612042410_add_lexorank/migration.sql
  prisma/migrations/20240615035700_remove_lexorank_length_constraint/migration.sql
  prisma/schema.prisma
  src/fillRankRouter.ts
  src/handlers/project.test.ts
  src/handlers/project.ts
  src/handlers/task.test.ts
  src/handlers/task.ts
  src/server.ts
  src/test/projectTaskHelpers.ts
  src/utils/lexorank/latestFirst.ts
  src/utils/lexorank/projectRank.ts
  src/utils/lexorank/sortRank.ts
  src/utils/lexorank/taskRank.ts
Due: npm run lint, npm run prettier, npm run pretpkg

feat: add updating task's lexorank feature, fix case when updating `parentTaskId` to `null`
  src/handlers/task.ts
  src/types/schemas.ts
Due: npm run lint, npm run prettier

chore: include preview and production origins in `cors`
  src/server.ts
Due: npm run lint, npm run prettier

feat: add `body` field to tasks (vietan0/todo-fe#4)
  package-lock.json
  package.json
  prisma/dump.sql
  prisma/erd.svg
  prisma/migrations/20250216100932_add_body_to_tasks/migration.sql
  prisma/schema.prisma
  src/handlers/project.test.ts
  src/handlers/task.test.ts
  src/handlers/task.ts
  src/test/projectTaskHelpers.ts
  src/types/schemas.ts
Due: npm run lint, npm run prettier, npm run pretpkg

chore: make `lexorank` field required (vietan0/todo-fe#5)
  prisma/dump.sql
  prisma/erd.svg
  prisma/migrations/20250304073650_make_lexorank_required/migration.sql
  prisma/schema.prisma
  src/types/schemas.ts
Due: npm run lint, npm run prettier

chore: make task's `body` field required (vietan0/todo-fe#9)
  prisma/dump.sql
  prisma/erd.svg
  prisma/migrations/20250304091326_make_body_non_null/migration.sql
  prisma/schema.prisma
  src/handlers/task.test.ts
  src/types/schemas.ts
Due: npm run lint, npm run prettier

test: reseed dev database *after* running tests (#3)
  src/test/globalSetup.ts
  vitest.config.ts
Due: npm run lint, npm run prettier

chore: update deps
  package-lock.json
  package.json
Due: npm run prettier, npm run pretpkg

docs: write README.md
  README.md
Due: npm run prettier
